<div class="container mt-20" style="background-color: aliceblue;">
  <div class="row">
    <div class="col-md-4" >
      <div class="card" style="width: 18rem;">
        <img
          src="https://vogal-demo.myshopify.com/cdn/shop/products/5_8c134148-8d71-41a9-b425-e9a0170a0069_350x.jpg?v=1675917784"
          class="card-img-top" alt="..."
          style="position: relative"
        >
        <div class="button-set hide-sm">
            <a class="gbtn pr wishlist addto-wishlist"><i class="fa-regular fa-heart"></i></a>
            <a class="gbtn pr wishlist addto-wishlist"><i class="bi bi-cart"></i></a>
            <a class="gbtn pr wishlist addto-wishlist"><i class="fa-solid fa-magnifying-glass"></i></a>
          </div>
        <div class="card-body " >
          <a href="/" class="fs-6 grid_title">Everyday Tube Top Ribbed </a>
          <p class="card-text">$180</p>
          <div class="d-flex fa-sm">
            <i class="fa-solid fa-star mb-3  "></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
              class="fa-solid fa-star"></i>
          </div>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
        <ul class="grswatches">
          <li class="swatch small clrswt swtblue" style="background-color: rgba(169,209,233,255);"> </li>
          <li class="swatch small clrswt swtblue" style="background-color: rgba(191,219,201,255)"> </li>
          <li class="swatch small clrswt swtblue" style="background-color: rgba(195,177,225,255)"> </li>
        </ul>
      </div>
    </div>
    

  </div>


  <!-- <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="assets/images/products/p1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/products/p2.jpg" class="card-img-top" alt="Product 2">
          <div class="card-body">
            <h5 class="card-title">Product 2</h5>
            <p class="card-text">Description of Product 2</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/products/p3.jpg" class="card-img-top" alt="Product 3">
          <div class="card-body">
            <h5 class="card-title">Product 3</h5>
            <p class="card-text">Description of Product 3</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>

      
    </div> -->
</div>
